#control-panel {
    width: 650px;
    height: 100px;
    text-align: center;
    margin:0 auto;
}

.control-button {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
    cursor: pointer;
    display: inline-block;
}

.trick-button {
    height: 20px;
    width: 100px;
    margin: 10px 0px;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid black;
}

#connect {
    background: url('../images/connect.png') center no-repeat;
}

#takeoff {
    background: url('../images/takeoff.jpeg') center no-repeat;
}

#calibrate {
    background: url('../images/calibrate.png') center no-repeat;
}

#land {
    background: url('../images/land.jpeg') center no-repeat;
}

#disconnect {
    background: url('../images/disconnect.png') center no-repeat;
}

#control-pad {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid black;
    background: url('../images/guide.gif') center no-repeat;
}

#drone {
    height: 200px;
    width: 200px;
    margin: 194px;
    position: absolute;
    background: url('../images/ardrone.png') center no-repeat;
}

#tricks {
    width: 650px;
    height: 50px;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
    font-weight: bold;
}
